.media {
    display: flex;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 2em;
    border-radius: 3px;
    max-width: 24em;
  }
  .media-object {
    margin-right: 1em;
  }
  .media-body {
    flex: 1;
  }
  .media-heading {
    margin: 0 0 .5em;
    padding-right: 1em
  }